<html>

<head>

  {% include "navbar.html" %}
</head>
<body>

  <!-- Bootstrap Columns size 2, 4, 4, 2 -->
    <div align="left" class="col-sm-2 "></div>
  <div align="left" class="col-md-4 ">


  <h1>List of Existing Home Dishes</h1>


  <div>
    {% for n in homedishes %}
    <div>{{n.name}}</div>
        <img src={{ n.image_url }} width=50 height =50>
    {% endfor %}
  </div>

  <h1>List of Existing Restaurant dishes</h1>


  <div>
    {% for n in restdishes %}
    <div>{{n.name}}</div>
        <img src={{ n.image_url }} width=50 height =50>
    {% endfor %}
  </div>


</div>
<div align="left" class="col-md-4 ">

   <h1> Add A New Dish</h1>
    <form method="POST" action="/adddish">
      <p>Name: <input type="text" name="name">
      <p>Description<input type="text" name="description">
      <p>Image_Url <input type="text" name="image_url"></p>
        <select name="type">
            <option value='home'>Home</option>
             <option value='rest'>Restaurant</option>
            </select>
      <input type="submit" value="Add">

    </form>



    </div>

<div align="left" class="col-sm-2 "></div>

</body>


</html>
