<html>

<head>

  {% include "navbar.html" %}
</head>
<body>
<div class="row">
  <!-- Bootstrap Columns size 2, 4, 4, 2 -->
    <div align="left" class="col-sm-2 "></div>
  <div align="left" class="col-md-4 ">


  <h2>List of All Users and Their Mealplans</h2>


  <div>
    {% for n in data.names %}
    <div>Name: {{n}}  <br>
        User Goal: {{ data.usergoals[loop.index] }}   <br>
        Mealplan Goal:  {{ data.mealplangoals[loop.index] }}  <br></div>
        {% if data.usergoals[loop.index] == data.mealplangoals[loop.index] %}
            <b>They Match!</b> <br>
        {% endif %}
        {% if data.usergoals[loop.index] != data.mealplangoals[loop.index] %}
            <b><font color="red">Not a Match!</font></b> <br>
        {% endif %}
        <br>
    {% endfor %}
  </div>

</div>
<div align="left" class="col-md-4 ">

    <h2>Best Mealplans if you Like to Eat out</h2>
    {% for n in restplans %}
    Mealplan Name: {{ n.planname }}   Number of Restaurant Meals: {{ n.mealcount }} <br>
    {% endfor %}

    <h2>Most Common Ingredients by Recipe Inclusion</h2>
    {% for n in topingr %}
    Ingredient: {{ n.name }} <br> # of Recipes Using: {{ n.count }} <br><br>
    {% endfor %}


</div>
<div align="left" class="col-sm-2 "></div>

</body>


</html>
