<html>

<head>

  {% include "navbar.html" %}
</head>
<body>
<div class="row">
  <!-- Bootstrap Columns size 2, 4, 4, 2 -->
    <div align="left" class="col-sm-2 "></div>
  <div align="left" class="col-md-4 ">


  <h1>List of Existing Goals</h1>


  <div>
    {% for n in data %}
    <div>{{n}}</div>
    {% endfor %}
  </div>

</div>
<div align="left" class="col-md-4 ">

   <h1> Add A New Goal</h1>
    <form method="POST" action="/addgoal">
    <p>Name: <input type="text" name="name">
        <input type="submit" value="Add">
    </form>



  <h1> Add Goal to Mealplan</h1>
    <form method="POST" action="/addgoalmealplan">
    Mealplan:
    <select name="mealplan_id">
            {% for n in mealplans %}
    <option value={{ n.id }}>{{ n.name }}</option>

    {% endfor %}
     </select>
    <br>
    Goal:
      <select name="goal_id">
           {% for n in goals %}
    <option value={{ n.id }}>{{ n.name }}</option>
    {% endfor %}
            </select>
    <br>
      <input type="submit" value="Add">

    </form>

     <h1> Add Goal to Meal</h1>
    <form method="POST" action="/addgoalmeal">
    Meals:
    <select name="meal_id">
            {% for n in meals %}
    <option value={{ n.id }}>{{ n.name }}</option>

    {% endfor %}
     </select>
    <br>
    Goal:
      <select name="goal_id">
           {% for n in goals %}
    <option value={{ n.id }}>{{ n.name }}</option>
    {% endfor %}
            </select>
    <br>
      <input type="submit" value="Add">

    </form>
</div>
</div>
<div align="left" class="col-sm-2 "></div>

</body>


</html>
