<html>

<head>

  {% include "navbar.html" %}
</head>
<body>
<div class="row">
  <!-- Bootstrap Columns size 2, 4, 4, 2 -->
    <div align="left" class="col-sm-2 "></div>
  <div align="center" class="col-md-8 ">


  <h1>Welcome to Mealplan Viewer</h1>
  <h2>Choose a User</h2>
  <form method="POST" action="/changeuser">
  <select name="customer_id">



    {% for n in data %}
    <option value={{ n.customer_id }}>{{ n.name }}</option>
    {% endfor %}

 </select>
  <br><br>
  <input type="submit" value="Submit">
  </form>
</div>

<div align="left" class="col-sm-2 "></div>

</body>



</html>
