<html>

<head>

  {% include "navbar.html" %}
</head>
<body>
<div class="row">
  <!-- Bootstrap Columns size 2, 4, 4, 2 -->
    <div align="left" class="col-sm-2 "></div>
  <div align="left" class="col-md-4 ">


  <h1>List of Existing Meals</h1>


  <div>
    {% for n in data %}
    <div>{{n}}</div>
    {% endfor %}
  </div>

</div>
<div align="left" class="col-md-4 ">
    <row>
   <h1> Add A New Meal</h1>
    <form method="POST" action="/addmeal">
    <p>Name of Meal: <input type="text" name="name">
        <p>Description of Meal: <input type="text" name="description"></p>
        <input type="submit" value="Add">
    </form>

         <h1> Add a Dish to a Meal</h1>
    <form method="POST" action="/addmeal_mealcom">
    Meal:
    <select name="meal_id">
            {% for n in meals %}
    <option value={{ n.id }}>{{ n.name }}</option>

    {% endfor %}
     </select>
    <br>
    Meal Component:
      <select name="meal_component_id">
           {% for n in mealcomponents %}
    <option value={{ n.id }}>{{ n.name }}</option>
    {% endfor %}
            </select>

    <br>
      <input type="submit" value="Add">

    </form>
    </div>
</row>

</div>
<div align="left" class="col-sm-2 "></div>

</body>


</html>
