<html>

<head>

  {% include "navbar.html" %}
</head>
<body>
<div class="row">
  <!-- Bootstrap Columns size 2, 4, 4, 2 -->
    <div align="left" class="col-sm-2 "></div>
  <div align="left" class="col-md-4 ">


  <h1>List of Existing Mealplans</h1>


  <div>
    {% for n in data %}
    <div>{{n}}</div>
    {% endfor %}
  </div>

</div>
<div align="left" class="col-md-4 ">
   <h1> Add A New Mealplan</h1>
    <form method="POST" action="/addmealplan">
    <p>Name: <input type="text" name="name">
        <p>Description: <input type="text" name="description"></p>
        <input type="submit" value="Add">
    </form>
    </div>
</div>
<div align="left" class="col-sm-2 "></div>

</body>


</html>
