<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
 <nav class="navbar navbar-default" style="margin-bottom:0;">

                 <div class="container-fluid">
                     <div class="navbar-header">
                         <a class="navbar-brand" href="#">
        <img alt="Brand" height="35" width="45" src="http://images.clipartpanda.com/banana-clipart-black-and-white-banana-1979px.png">
      </a>
                    <a class="navbar-brand" id="nav_home">Mealplan Viewer</a>




                </div>
                <ul class="nav navbar-nav">
                    <li id="home"><a href="/">Home</a></li>
                    <li id="meals"><a href="/meals">Meals</a></li>
                    <li id="mealplans"><a href="/mealplans">Mealplans</a></li>
                    <li id="restaurants"><a href="/restaurants">Restaurants</a></li>
                    <li id="users"><a href="/users">Users</a></li>
                    <li id="dishes"><a href="/dishes">Dishes</a></li>
                    <li id="goals"><a href="/goals">Goals</a></li>
                    <li id="recipes"><a href="/recipes">Recipes</a></li>
                    <li id="explorer"><a href="/explore">Explore</a></li>
                </ul>

                     </ul>
                <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-user"></span> 
                        <strong>{{customer.name }}</strong>
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </a>

                    <ul class="dropdown-menu">
                    <li><a href="/profile">User Profile</a></li>
                    <li><a href="/">Select New User</a></li>
                     </ul>
                    </li>
                </ul>
                </div>

</nav>
{% if sqlerror is defined %}
<div id="error" style="padding: 10px;color: red; border: 1px solid red;">{{sqlerror}}</div>
{% endif %}
