<html>

<head>

  {% include "navbar.html" %}
</head>
<body>
<div class="row">
  <!-- Bootstrap Columns size 2, 4, 4, 2 -->
    <div align="left" class="col-sm-2 "></div>
  <div align="left" class="col-md-4 ">


  <h1>User Profile for {{ customer.name  }}</h1>
   <div> Name: {{ data.name }} </div>
    <div> Email: {{ data.email }} </div>

</div>
<div align="left" class="col-md-4 ">
   <h2> User Goals</h2>
    Goals: <br>
    {% for n in data.goals %}
    <div style="overflow:none;padding:10px;">
      <span> {{ n.name }} </span>
      <form method="POST" action="/removeusergoal" style="float:left">
        <input type="hidden" value="{{n.id}}" name="goal_id" />
        <input type="submit" value="X">
      </form>
    </div>
    {% endfor %}

    <h2> User Active Mealplan</h2>
    Mealplan:{{ data.mealplan }}

</div>
<div align="left" class="col-sm-2 ">

</div>

</body>


</html>
