<html>

<head>

  {% include "navbar.html" %}
</head>
<body>

  <!-- Bootstrap Columns size 2, 4, 4, 2 -->
    <div align="left" class="col-sm-2 "></div>
  <div align="left" class="col-md-4 ">


  <h1>Create a New Recipe </h1>
 <form method="POST" action="/addrec">
    <p>Name of Recipe: <input type="text" name="name">
        <p>Recipe URL: <input type="text" name="website">
        <input type="submit" value="Add">
    </form>

   <h1> Add Ingredient to Recipe</h1>
    <form method="POST" action="/addingr_recipe">
    Recipe:
    <select name="recipe_id">
     Recipe:       {% for n in recipes %}
    <option value={{ n.id }}>{{ n.name }}</option>

    {% endfor %}
     </select>
    <br>
    Ingredient:
      <select name="ingredient_id">
           {% for n in ingredients %}
    <option value={{ n.id }}>{{ n.name }}</option>
    {% endfor %}
            </select>
      <p>Quantity<input type="text" name="quantity">
      <p>Unit <input type="text" name="unit"></p>

      <input type="submit" value="Add">

    </form>



</div>
<div align="left" class="col-md-4 ">
    <h1>List of Ingredients</h1>


  <div>
    {% for n in ingredients %}
    <div>{{n.name}}</div>
    {% endfor %}
  </div>

<h1> Add A New Ingredient</h1>
    <form method="POST" action="/addingr">
    <p>Name of Ingredient: <input type="text" name="name">
        <input type="submit" value="Add">
    </form>



    </div>

<div align="left" class="col-sm-2 "></div>

</body>


</html>
