<html>

<head>

  {% include "navbar.html" %}
</head>
<body>
<div class="row">
  <!-- Bootstrap Columns size 2, 4, 4, 2 -->
    <div align="left" class="col-sm-2 "></div>
  <div align="left" class="col-md-4 ">


  <h1>List of Existing Restaurants</h1>


  <div>
    {% for n in data %}
    <div>{{n}}</div>
    {% endfor %}
  </div>

</div>
<div align="left" class="col-md-4 ">
   <h1> Add A New Restaurant</h1>
    <form method="POST" action="/addrestaurant">
      <p>Name: <input type="text" name="name"></p>
      <p>Website: <input type="text" name="website"></p>
      <p>Address: <input type="text" name="address"></p>
      <input type="submit" value="Add">
    </form>
    </div>
</div>
<div align="left" class="col-sm-2 "></div>

</body>


</html>
