<html>

<head>

  {% include "navbar.html" %}
</head>
<body>

  <!-- Bootstrap Columns size 2, 4, 4, 2 -->
    <div align="left" class="col-sm-2 "></div>
  <div align="left" class="col-md-4 ">


  <h1>List of Existing Users</h1>


  <div>
    {% for n in data %}
    <div>{{n}}</div>
    {% endfor %}
  </div>

</div>
<div align="left" class="col-md-4 ">

   <h1> Add A New User</h1>
    <form method="POST" action="/adduser">
      <p>First name: <input type="text" name="fname">
      <p>Last name: <input type="text" name="lname">
      <p>Email: <input type="text" name="email"></p>
      <input type="submit" value="Add">
    </form>


   <h1> Assign A Goal to a User</h1>
    <form method="POST" action="/addusergoal">
    <select name="userid">
    {% for n in users %}
    <option value={{ n.id }}>{{ n.name }}</option>
    {% endfor %}

     </select>
    <select name="goalid">
    {% for n in goals %}
    <option value={{ n.id }}>{{ n.name }}</option>
    {% endfor %}

     </select>
    <br><br>
    <input type="submit" value="Submit">
     </form>

    <h1> Assign A New Mealplan to a User</h1>
    <form method="POST" action="/addusermealplan">
    <select name="userid">
    {% for n in users %}
    <option value={{ n.id }}>{{ n.name }}</option>
    {% endfor %}

     </select>
    <select name="mealplanid">
    {% for n in mealplans %}
    <option value={{ n.id }}>{{ n.name }} - ({{n.goal}})</option>
    {% endfor %}

     </select>
    <br><br>
    <input type="submit" value="Submit">
     </form>
    </div>
  </div>
</div>

<div align="left" class="col-sm-2 "></div>

</body>


</html>
